<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Report New Item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-item>
    <ion-label position="floating">Store Name</ion-label>
    <ion-input placeholder="e.g. Costco" [(ngModel)]="storeName" 
    (keyup)="filterStoresByName()"
    (input)="clearWhenEmpty()"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">City</ion-label>
    <ion-input placeholder="City" [(ngModel)]="storeCity"
    (keyup)="filterStoresByCity()"
    (input)="clearWhenEmpty()"></ion-input>
  </ion-item>
  <ion-card>
    <br>
    <ion-label class="store-list-label">
      <strong>Closest Stores</strong>
    </ion-label>
    <br>
    <ion-list>
      <ion-item *ngFor="let store of filteredStores" (click)="onStoreSelected(store)">
        <div>
          <p>{{store.name}}</p><p>{{store.address}}</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
