<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Store lookup</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showAddStoreModal()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-item>
    <ion-label position="floating">Store name</ion-label>
    <ion-input placeholder="Costco" [(ngModel)]="storeName" (keyup)="filterStores()"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">City</ion-label>
    <ion-input placeholder="Kirkland" [(ngModel)]="storeCity" (keyup)="filterStores()"></ion-input>
  </ion-item>
  <ion-card>
    <br>
    <ion-label class="store-list-label">
      <strong>Search results</strong>
    </ion-label>
    <br>
    <div *ngIf="!isInitialState">
      <br>
      <p class="default-message">Can't find your store?<br>Click "+" to add a new store</p>
    </div>
    <ion-list>
      <ion-item-group *ngFor="let store of filteredStores">
        <ion-item (click)="onStoreSelected(store)">
          <ion-label>
            <div>
              <p>{{store.name}}</p>
              <p>{{store.address}}</p>
            </div>
          </ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card>
</ion-content>