<form (ngSubmit)="submitSignUp()">
  <ion-header>
    <ion-toolbar *ngIf="userExists; else signUpBlock" color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>Edit Profile</ion-title>
      <ion-buttons slot="primary">
        <ion-button type="submit" [disabled]="!user.isDefined()">
          edit
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ng-template #signUpBlock>
      <ion-toolbar color="primary">
        <ion-buttons slot="primary">
          <ion-button type="submit" [disabled]="!user.isDefined()">
            save
          </ion-button>
        </ion-buttons>
        <ion-title>Set Profile</ion-title>
      </ion-toolbar>
    </ng-template>
  </ion-header>
  <ion-content [fullscreen]="true">
    <br>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.firstName" name="firstName" placeholder="John"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Doe"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Zipcode</ion-label>
      <ion-input type="text" [(ngModel)]="user.zipCode" name="zipCode" placeholder="12345"></ion-input>
    </ion-item>
    <br>
  </ion-content>
</form>