<ion-header>
  <ion-toolbar color="primary">
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div class=default-message>
        <p>What is Grocery Scout?<br /><br />
          A crowdsourcing platform for shoppers to report items in-stock/out-of-stock and find items at nearby 
          grocery stores. Before visiting your neighborhood store, you can use the app to see if other shoppers 
          have reported your items of interest in stock.
        </p>
        <p><br />How do I best use this app?<br /><br />
          We support a set of common grocery items for you to report and search so that all users see the same 
          list. However, for simplicity and everyone's sake, please choose the item that is most generic!
        </p>
        <p><br />Do you track my phone location data?<br /><br />
          Nope! We use your ZIP code as your "location" and show you stores nearby your ZIP code.
        </p>
        <p><br />What are your future plans?<br /><br />
          Make it as easy and automated for you to report and search for items! We'll look to implement a view 
          powered by Google Maps, integrate image/text recognition algorithms to enter reported items in one shot, 
          and make it possible to search for related items.
        </p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>