<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Report New Item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="store"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button type="submit" [disabled]="true">Report</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-label position="floating">Store Selected:</ion-label>
  <br>
  <div>
    <p>{{selectedStore.name}}</p>
    <p>{{selectedStore.address}}</p>
  </div>
  <br>
  <ion-label position="floating">Item Info:</ion-label>
  <br>
  <p>Coming soon</p>
</ion-content>