<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Grocery Scout
    </ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/user']">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/about']">
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Hi {{user?.firstName}} {{user?.lastName?.charAt(0)}}!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class=default-message>
        <br>
        <p>Found an item in-stock or out-of-stock?<br />Click the report icon to the left!</p>
        <br>
        <p>Looking for an item?<br />Click the search icon to the right!</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <div class="flex-container">
    <ion-fab-button color="primary" [routerLink]="['/store', { userId: user.userId }]">
      <ion-icon name="create-sharp"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="primary" [routerLink]="['/search', { userId: user.userId }]">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </div>
</ion-footer>