@import '../../../global.scss';

ion-card{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 200px);
}

.flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

ion-fab-button {
    margin-left: 15px;
    margin-right: 15px;
}